@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.middle-container {
    max-width: 550px;

    /* margin: 200px auto; */
    margin: auto;
    padding: 1rem;
    text-align: center;
}
 
h1 {
     color: white;
     background-color: #3d830b;
}

.btn {
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid #3d830b;
    background-color: #3d830b;
    color: #fff;
    min-width: 160px;
    display: block;
    font-weight: bold;
    margin: 3rem auto 2rem auto;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #3d830b;
    border: 1px solid #3d830b;
    font-weight: bold;
}


.date {
    padding: 10px;
    margin-top: 1rem;
    font-size: 1em;
    border: 2px solid #3d830b;
}


.results {
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    background-color: #3d830b;
    width: 60%;
    margin: auto;
    margin-bottom: 5rem;
}

.home {
    padding: 2rem;
}

footer{ 
    margin-top: 230px;
    
}

.instruction {
    margin: 1rem 1rem 2rem 1rem;
}